*{
    margin: 0px;
    padding: 1px;
    box-sizing: border-box;
    color:rgb(203, 200, 200);
}

.container{
    max-width: 60%;
    background-color: rgba(22, 23, 23, 0.807);
    margin: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%;
    padding: 3rem;
    border: groove;
    align-items: center ;
}

body{
    background-color: grey;
    padding: 0px;
}

h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}

 .container label
 {
    font-size: 25px;
    padding: 5px 0 5px 0;
    font-family: 'Montserrat', sans-serif;
 }

 input
 {
    border-radius: 3px;
    color:black;
    padding: 3px;
 }

 .optn
 {
    padding: 3px;
    color:rgb(21, 20, 20);
 }

 .btn{
    color:rgb(250, 245, 245);
    border-color: red;
    background: rgb(24, 23, 24);
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}

.bg{
    width:100%;
    position:absolute;
    z-index: -1;
    opacity: 0.5;
}

.column {
    font-family: 'Noto Sans', sans-serif;
    float: left;
    width: 35%;
    padding: 5px;
  }
  
 .row::after {
    content: "";
    clear: both;
    display: table;
  }

 .bottom {
    position: absolute;
    bottom: 0;
    opacity: 10%;
}
.txt{
    color:rgb(10, 10, 10);
}

#container {
    position: relative;
}
#copyright {
    position: absolute;
    bottom: 0;
}