* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222f3e;
  font-family: sans-serif;
}

.dark-bg {
  background: #09bce0;
}

.container {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  padding: 2em 0;
}

.bottom-border {
  border-bottom: 0.4rem solid #09bce0;
}

h1, p {
  text-align: center;
}

p {
  font-size: 1.3rem;
}

h1 {
  color: #263e22;
  font-size: 3rem;
  text-transform: uppercase;
  
}

h2 {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  color: orange;
  display: block;
}

li {
  color: #c8d6e5;
  font-size: 1.3rem;
}
