body{
    background-color: black;
}
p{
    color: red;
    text-align: center;
    font-size: 2em;
}
.noob{
    color: cornsilk;
    font-size: 1.5em;
}
.main{
    margin: 3em;
    padding: 6em;
    background-color: rgba(14, 52, 155, 0.541);
    border: 2px solid white;
}

.head{
    
    font-family:'Times New Roman', Times, serif;
    color: rgb(51, 255, 0);
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.dice{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
h3{
    color: red;
    font-size: 1.8em;
    display: block;
    padding: 1em;
}
img{
    width: 30%;
    display: block;
    padding: 1em;
    height: 10em;
    width: 10em;
}
button{
    height: 5em;
    width: 9em;
    border-radius: 1em;
    background-color: rgba(60, 255, 0, 0.63);
    color: white;
    cursor: pointer;
    border: 3px solid black;
    margin-top: 6em;
    

}


button:hover{
    background-color: rgb(212, 0, 255);
}
@media(max-width: 450px ){
    img{
        width: 100%;
        border-radius: 3vh;
    }
    .head{
        font-size:1.5em;
        display: flex;
        width: 8em;
        padding: -2em;
        justify-content: center;
        align-items: center;
        
    }
    
}
