{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'task/style.css' %}" />
    <title>Tasker | Free Task Management</title>
  </head>
  <body>
    <div class="dark-bg bottom-border">
      <div class="container">
        <h1>Tasks</h1>
        <p>Let's get going!</p>
      </div>
    </div>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
